.header{
    position: absolute;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 23px 6.1% 23px 4.45%;
    background-color: #000;
    left: 0;
    right: 0;
    z-index: 10;
}

.nav{
    width: 72%;
    margin-right: 8.08%;
}


.logo{
    margin-right: 8.08%;
}

.navList{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 20px
}

.navList li{
    margin-right: -15px;
}

.navLIstItem a{
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    color: #fff;
    white-space: nowrap;
}

.card{
    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
    padding: 0;
    position: relative;
}

.cardCount{
    position: absolute;
    background: #FCB500;
    width: 16px;
    height: 16px;
    right: -5px;
    top: 7px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

@media (max-width:1240px) {
    .navLIstItem a{
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        text-decoration: none;
        color: #fff;
        white-space: nowrap;
    }

    .logo{
        margin-right: 4%;
    }
}


@media (max-width:992px) {
    .logo{
        margin-right: 4%;
        width: 70px;
    }

    .navLIstItem a {
        font-size: 10px;
        line-height: 16px;
    }
}

@media (max-width:768px) {
    .logo{
        margin-right: 0;
        width: 100px;
        margin-bottom: 15px;
    }

    .navLIstItem a {
        font-size: 16px;
        line-height: 20px;
    }

    .header{
        flex-direction: column;
        padding: 18px 3.1% 18px 3.1%;
    }

    .nav{
        width: 100%;
        margin-right: 0;
        margin-bottom: 15px;
    }

    .navList li {
        margin-right: 0;
    }

    .navList{
       flex-wrap: wrap;
        gap: 20px;
    }
}

@media (max-width:568px) {
    .navList{
        flex-direction: column;
    }

}
